* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #0b0b0b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    margin: 0;
    background: rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.header-left {
    width: 52%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header-left img {
    max-width: 160px;
}

.header-left div {
    background-color: #fff;
    width: 2px;
    height: 62px;
    border-radius: 2px;
    margin: 6px;
}

.header-left p {
    font-size: 20px;
    color: #fff;
    flex: 1;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .content{
    color: #207335;
}
.content {
    text-align: center; /* Căn chữ và nội dung vào giữa */
}
.content p{
    padding: 0 150px 0 0;
}
.content span{
    padding: 0 130px 0 0;
}

/* Style tiêu đề */
.content h1 {
    margin-bottom: 20px;
    color: #207335; /* Màu xanh lá cây */
}

/* Style các thẻ <input> */
.add-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Tạo khung chứa input và mũi tên */
.input-container {
    position: relative; /* Định vị cho các phần tử con */
    width: 300px; /* Độ rộng khung */
}

.input-container input {
    width: 310px; /* Đảm bảo input chiếm hết khung */
    height: 40px;
    border: 1px solid #207335;
    border-radius: 4px;
    padding: 0 40px 0 10px; /* Chừa không gian bên phải cho mũi tên */
    box-sizing: border-box;
}

/* Định vị hình mũi tên */
.input-container img {
    position: absolute;
    top: 50%; /* Căn giữa theo trục dọc */
    right: 0; /* Cách viền phải */
    transform: translateY(-50%); /* Căn chỉnh hoàn hảo */
    width: 20px; /* Đặt kích thước mũi tên */
    height: 20px;
    pointer-events: none; /* Tránh ảnh hưởng khi người dùng nhấp vào */
}
.button-container{
    display: flex;
    justify-content: center; /* Căn giữa các nút theo chiều ngang */
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}
.button-container .signin-btn {
    color: #fff;
    background-color: #207335;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button-container .cancel {
    color: #207335;
    border: 2px solid #207335;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.68);
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

footer p {
    color: #fff;
    margin: 8px;
}
