* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #0b0b0b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    margin: 0;
    background: rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.header-left {
    width: 52%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header-left img {
    max-width: 160px;
}

.header-left div {
    background-color: #fff;
    width: 2px;
    height: 62px;
    border-radius: 2px;
    margin: 6px;
}

.header-left p {
    font-size: 20px;
    color: #fff;
    flex: 1;
    margin: 0;
}
main {
    font-weight: bold;
    color: #207335;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h1{
    text-align: center;
    color: #207335;
    margin-top: 20px;
}
.text, .signin{
    display: flex;
    justify-content: center;
}
.text{
    padding: 4px 266px 10px 0;
    margin-top: 100px;
    
}
.signin input{
    border: 1px solid #606060;
    width: 432px;
    height: 46px;
    border-radius: 4px;
}
.button-container{
    display: flex;
    justify-content: center; /* Căn giữa các nút theo chiều ngang */
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}
.button-container .signin-btn {
    color: #fff;
    background-color: #207335;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button-container .cancel {
    color: #207335;
    border: 2px solid #207335;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.68);
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

footer p {
    color: #fff;
    margin: 8px;
}